################################################
#       IDE
################################################
.idea

################################################
#       OS
################################################
.DS_Store


################################################
# Byte-compiled / optimized / DLL files
################################################
__pycache__/
*.py[cod]
*$py.class

################################################
# Python envs
################################################
env/
venv/


################################################
# heavy files
################################################
characters.json
db

################################################
# Other files
################################################
*.log
*.zip
